if flash
<<<<<<< HEAD
  .flash
    if flash.success.length
      .alert.alert-success= flash.success.join("\n")

    if flash.error.length
      .alert.alert-danger= flash.error.join("\n")
=======
    .flash
        if flash.success.length
            .alert.alert-success= flash.success.join("\n")
        if flash.error.length
            .alert.alert-danger= flash.error.join("\n")
>>>>>>> 1782a15aff03ad6b6496fb780a7e4b6521d910d4
